body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.container {
    /* background: linear-gradient(0deg, rgba(255,228,170,1) 0%, rgba(255,255,255,1) 49%); */
    max-width: 1000px;
}

.btn {
    --bs-btn-padding-x: 1.8rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1.3rem;
    --bs-btn-line-height: 28.5px;
}
.btn-success {
    margin: 0;
}
.weather-app {
    max-width: 1000px;
    margin: 0 auto;
}
.weather-header {
    text-align: center;
}

.weather-header-img {
    padding: 50px 0;
}
.weather-header-time {
    padding: 40px 30px 30px 30px;

}
.current-time {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: turquoise
}

.city {
    margin-left: 140px;
}

.row {
    text-align: center;
}

.weather-main {
margin-bottom: 40px;
}

.weather-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 200px;
    
}
.weather-card {
    padding: 40px 0;
}

.weather-card-title {
    font-size: 32px;
}

.weather-degrees {
    font-size: 24px;
    margin-top: 15px;
}
.search-degrees {
    font-size: 30px;
    color: blue;
}
.search-city {
    margin-left: 20px;
    color: orange;
    font-size: 50px;
    text-transform: capitalize;
}

.celsius {
    text-decoration: none;
    color: blue;
}

.celsius:hover, .fahrenheit:hover {
    color: orange;
}

.fahrenheit {
    text-decoration: none;
    color: blue;
} 
span {
    color: blue;
}

#input-search {
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.humidity {
    font-size: 24px;
    color: olivedrab;
    font-weight: bold;
    margin: 0;
}

.wind {
    font-size: 24px;
    color: olivedrab;
    font-weight: bold;
    margin: 0;
}

.open-source {
    text-align: center; 
    margin: 50px auto;
    margin-bottom: 20px;
}

#description {
    margin-top: 10px;
    color: brown;
    font-size: 20px;
    font-weight: bold;
}

#description:first-letter {
    text-transform: capitalize;
}

.active {
    cursor: default;   
}

.active:hover {
    color: blue; 
}

.weather-forecast-date {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    color: orange;
    font-weight: bold;
}

.temperature-max {
    color: blue;
    font-weight: bold;

}

.temperature-min {
    font-weight: bold;
    font-size: 16px;
    color: teal;

}

.weather-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 992px) {

    #search,
    #current {
        font-size: 18px;
        padding: 5px 15px;
        margin: 0 5px;
    }

    #icon {
        width: 170px;
    }

    .search-city {
        font-size: 46px;
    }

    .weather-footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}